<full-window-container>
  <div class="flex-col flex-center container">
    <div class="title">
      Push the limits of what's possible. Today.
    </div>
    <div class="flex-row details">
      <div class="flex-col">
        <div class="border-box">
          <div class="title-sm">Annual membership</div>
          <div class="pricing orange"><span class="sup">US$</span><span class="emphasis">299</span><span class="sup">/YEAR</span></div>
          <a [routerLink]="['/signup']" class="button button-sm button-hvr">Get started</a>
          <div>or start a <a [routerLink]="['/signup']" class="orange">FREE TRIAL</a></div>
        </div>
        <div class="border-box">
          <div class="title-sm">Monthly membership</div>
          <div class="pricing orange"><span class="sup">US$</span><span class="emphasis">29</span><span class="sup">/MONTH</span></div>
          <a [routerLink]="['/signup']" class="button button-sm button-hvr">Get started</a>
          <div>or start a <a [routerLink]="['/signup']" class="orange">FREE TRIAL</a></div>
        </div>
      </div>
      <div class="border-box">
        <span class="box-title-lg">Pluralsight members enjoy access to the following features and benefits:</span>
        <ul>
          <li>Access to entire 5,000+ course library</li>
          <li>Learning paths</li>
          <li>Skill measurement</li>
          <li>Exercise files</li>
          <li>Course learning checks</li>
          <li>Completion certificates</li>
          <li>Mobile apps</li>
          <li>Offline viewing</li>
        </ul>
      </div>
    </div>
    <div class="business-plan">
      <span class="title-sm">Skill up your team at scale</span>
      <a href="/" class="orange">Explore the benefits of a business plan for teams of 2 or more.</a>
    </div>
  </div>
</full-window-container>
